.revelant {
  text-align: right;
}
.Comment-section {
  display: flex;
}
.username-section {
  border: 2px solid black;
  border-radius: 20px;
  margin-left: 20px;
  padding: 10px;
  background-color: #333;
  color: white;
}
.username {
  margin-top: -2px;
}
.user-comment {
  margin-top: -15px;
}
